<p>
  <%= link_to "Check out all of the bands", bands_url %>
</p>

<p>
  <%= link_to "Check out all of the albums", albums_url %>
</p>

<p>
  <%= link_to "Check out all of the tracks", tracks_url %>
</p>