<body>
  <h3>
    List of all bands in database
  </h3>

  <% @bands.each do |b| %>

    <p><%= link_to b.name, band_url(b.id) %></p>

  <% end %>

  <%= long_line %>

  <%= link_to "Add a new band to the database", new_band_url %>
</body>